<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    
    
    
    <title>登録画面</title>
    <!--
    <style>
    /*CSS RESET*/
    *{margin:0; padding:0;}
    img {border:0;}
    </style>-->
</head>
<body >

	
	<form method="post" action="/register" name="register_form">
		<input type="text"name="mainname">
		<input type="text"name="subname">
		<input type="radio" name="goodorbad" value="-1" id="food1">
		<label for="food" class="radiolabel">悪い</label>
		<input type="radio" name="goodorbad" value="1" id="food2">
		<label for="food2" class="radiolabel">良い</label>
		<input type="submit"value="finish">
	</form>
	
	
	
	{%block content%}
	{%endblock%}
	

	





</body>
<html>