<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    
    
    
    <title>“o˜^‰æ–Ê</title>
    <!--
    <style>
    /*CSS RESET*/
    *{margin:0; padding:0;}
    img {border:0;}
    </style>-->
</head>
<body >

	
	<form method="post" action="register" name="register_form">
		<input type="text"name="mainname">
		<input type="text"name="subname">
		<input type="submit"value="finish">
	</form>
	
	
	
	{%block content%}
	{%endblock%}
	

	





</body>
<html>